* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans Arabic', sans-serif;
}

.orange {
  background-color: #F58520;
}

.green {
  background-color: #8DC63F;
}

.orange-txt {
  color: #F58520;
}

.green-txt {
  color: #8DC63F;
}

.line {
  width: 60px;
  height: 1px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.line::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #F58520;
  left: -15px;
}

.line::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #F58520;
  right: -15px;
}

.line.green::before {
  background-color: #8DC63F;
}

.line.green::after {
  background-color: #8DC63F;
}

.our-products p {
  max-width: 80%;
}

.our-products .owl-carousel {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.our-products .item {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding: 25px;
}

.our-products .item img {
  width: 100%;
}

.our-products .owl-carousel .owl-nav {
  display: none;
}

.our-products .owl-dots {
  margin-top: 25px;
}

.our-products .owl-dots .owl-dot span {
  background-color: #fff;
  border: 1px solid #999;
}

.our-products .owl-dots .owl-dot.active span {
  border: none;
  background-color: #e78c24;
}

.our-products .owl-dots .owl-dot:hover span {
  border: none;
  background-color: #e78c24;
}

.our-products .buttons-box .status,
.our-products .buttons-box .time {
  padding: 5px 20px;
  border: none;
  outline: none;
}

.our-products .detailbutton {
  border: 1px solid #e3e3e3;
  outline: none;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 600;
}

.our-products .detailbutton:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E78A3C), to(#99C455));
  background-image: linear-gradient(#E78A3C, #99C455);
  color: #fff;
}

.our-products .row.bg-light .owl-carousel {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.our-products .row.bg-light .item {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.our-products .row.bg-light .products-that-it-makes {
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.our-products .row.bg-light .products-that-it-makes .img-box img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #999;
}

.our-products .products-that-it-makes {
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.our-products .products-that-it-makes .img-box img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #999;
}
/*# sourceMappingURL=products.css.map */