.main-title {
  color: #343434;
  text-transform: uppercase;
}

.sec-title {
  color: #777;
}

.orange {
  background-color: #F58520;
}

.green {
  background-color: #8DC63F;
}

.orange-txt {
  color: #F58520;
}

.green-txt {
  color: #8DC63F;
}

.line {
  width: 60px;
  height: 1px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.line::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #F58520;
  left: -15px;
}

.line::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #F58520;
  right: -15px;
}

.line.green::before {
  background-color: #8DC63F;
}

.line.green::after {
  background-color: #8DC63F;
}

.single-product .main-title {
  text-decoration: underline;
}

.single-product .details .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-product .details .buttons .mach-button {
  border: none;
  padding: 10px 15px;
  background-color: #fff;
  font-size: 18px;
}

.single-product .details .buttons .mach-button.active {
  background-color: #8DC63F;
  color: #fff;
  text-decoration: underline;
  border-radius: 10px;
}

.single-product .details .social-buttons .share {
  font-size: 18px;
  font-weight: bold;
}

.single-product .details .social-buttons .social {
  color: #777;
  background-color: #f0f0f0;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

.single-product .details .social-buttons .social {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
}

.single-product .owl .owl-nav {
  display: none;
}

.single-product .owl .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #777;
}

.single-product .owl .owl-dots .owl-dot.active span {
  background-color: #F58520;
  border: none;
}

.single-product .main-details {
  width: 80%;
  gap: 30px;
}

.single-product .main-details input {
  padding: 5px 10px;
  border: 2px solid #F58520;
  border-radius: 6px;
  width: 70%;
}

.single-product .status .orange .img-area {
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #D49A2A;
}

.single-product .status .green .img-area {
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #ABB23E;
}

.single-product .status .head-txt {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: bold;
}

.single-product .status .sec-txt {
  color: #f0f0f0;
  width: 100%;
  font-size: .8rem;
  letter-spacing: 1px;
}

.single-product .the-features span {
  width: 20px;
  height: 20px;
  background-color: #F58520;
  border-radius: 50%;
  margin: 10px;
}

.single-product .the-features .sec-title {
  padding-bottom: 0 !important;
}
/*# sourceMappingURL=single-product.css.map */