.main-title {
    color: #343434;
    text-transform: uppercase;
}

.sec-title {
    color: #777;
}

.orange {
    background-color: #F58520;
}

.green {
    background-color: #8DC63F;
}

.orange-txt {
    color: #F58520;
}

.green-txt {
    color: #8DC63F;
}

.line {
    width: 60px;
    height: 1px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);

    &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 1px;
        background-color: #F58520;
        left: -15px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 1px;
        background-color: #F58520;
        right: -15px;
    }
}

.line.green {
    &::before {
        background-color: #8DC63F;
    }

    &::after {
        background-color: #8DC63F;
    }
}

//  single product area style 
.single-product {
    .main-title {
        text-decoration: underline;
    }

    .details {
        .buttons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .mach-button {
                border: none;
                padding: 10px 15px;
                background-color: #fff;
                font-size: 18px;
            }

            .mach-button.active {
                background-color: #8DC63F;
                color: #fff;
                text-decoration: underline;
                border-radius: 10px;
            }
        }

        .social-buttons {
            .share {
                font-size: 18px;
                font-weight: bold;
            }

            .social {
                color: #777;
                background-color: #f0f0f0;
                margin-right: 10px;
                padding: 10px 20px;
                font-size: 14px;
                border-radius: 10px;
                font-weight: bold;
                text-transform: capitalize;
            }

            .social {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .owl {
        .owl-nav {
            display: none;
        }

        .owl-dots {
            .owl-dot {
                span {
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    border: 1px solid #777;
                }
            }

            .owl-dot.active {
                span {
                    background-color: #F58520;
                    border: none;
                }
            }
        }
    }

    .main-details {
        width: 80%;
        gap: 30px;

        input {
            padding: 5px 10px;
            border: 2px solid #F58520;
            border-radius: 6px;
            width: 70%;
        }
    }

    .status {
        .orange {
            .img-area {
                padding: 20px;
                border-radius: 50%;
                background-color: #fff;
                border: 5px solid #D49A2A;
            }
        }

        .green {
            .img-area {
                padding: 20px;
                border-radius: 50%;
                background-color: #fff;
                border: 5px solid #ABB23E;
            }
        }

        .head-txt {
            text-transform: capitalize;
            font-size: 2rem;
            font-weight: bold;
        }

        .sec-txt {
            color: #f0f0f0;
            width: 100%;
            font-size: .8rem;
            letter-spacing: 1px;
        }
    }

    .the-features {
        span {
            width: 20px;
            height: 20px;
            background-color: #F58520;
            border-radius: 50%;
            margin: 10px;
        }

        .sec-title {
            padding-bottom: 0 !important;
        }
    }
}